@charset "ISO-8859-1";

body {
	margin: 0;
	padding: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	font-family: Verdana;
	background-image: url("/ExpenseReimbursementSystem/Images/background.jpg");
}

button {
	font-size:20px;
	padding:4px 2px;
	margin-left: calc(50% - 70px);
	margin-top: 10px;
    margin-bottom: 10px;
	border-radius: 0.2em;
	width:140px;
	text-shadow: 1px 1px 1px #919191;
	box-shadow: 1px 1px 5px #919191;
	font-family: Verdana;
	color: rgb(82, 82, 82);
}

button.main {
	margin-top: 5px;
}

button.button_submit {
	color : rgb(59, 156, 88)
}

#main_div {
	margin: 0;
  	position: absolute;
  	top: 50%;
 	left: 50%;
  	transform: translate(-50%, -50%);
}

#dollar_picture {
	width: 150px;
	height: 150px;
	border: 1px solid rgb(235, 235, 235);
	border-radius: 1em;
	margin-bottom: 30px;
	margin-left: 50px;
	box-shadow: 1px 1px 5px #919191;
	align-self: center;
}

#discription {
	font-size: 10px;
	width: 100%;
}

p {
	color: rgb(82, 82, 82);
	text-shadow: 1px 1px 2px #cccccc;
	margin-top: 0px;
	margin-bottom: 0px;
}

p.info {
	text-align: right;
	margin-top: 5px;
	margin-bottom: 5px;
}

#fileNewReimbursement {
	margin-top: 10px;
}

#form_div {
	border-style: solid;
	border-radius: 1em;
	border-width: 2px;
	border-color: rgb(222, 222, 222);
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 220px;
	background-color: rgb(235, 235, 235);
	box-shadow: 1px 1px 5px #919191;
}

#center_text {
	text-align: center;
	width: 100%;
}

input {
	margin: 5px;
	width: 120px;
	float: right;
}

div.full {
	width: 100%;
	display: inline-block;
}
