@charset "ISO-8859-1";

body {
	margin: 0;
	padding: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	font-family: Verdana;
	background-image: url("/ExpenseReimbursementSystem/Images/background.jpg");
}

button {
	font-size:20px;
	padding:4px 2px;
	margin-left: calc(50% - 70px);
	margin-top: 10px;
    margin-bottom: 10px;
	border-radius: 0.2em;
	width:140px;
	text-shadow: 1px 1px 3px #919191;
	box-shadow: 1px 1px 5px #919191;
	font-family: Verdana;
	color: rgb(82, 82, 82);
}

#main_div {
	margin: 0;
  	position: absolute;
  	top: 50%;
 	left: 50%;
  	transform: translate(-50%, -50%);
  	
/*   	border-style: solid; */
/* 	border-radius: 1em; */
/* 	border-width: 2px; */
/* 	border-color: rgb(222, 222, 222); */
/* 	padding: 20px; */
}

#profile_picture {
	width: 150px;
	height: 150px;
	border: 1px solid rgb(235, 235, 235);
	border-radius: 1em;
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 30px;
	box-shadow: 1px 1px 5px #919191;
}


#discription {
	font-size: 10px;
}

p {
	color: rgb(82, 82, 82);
	text-shadow: 1px 1px 3px #919191;
	margin-top: 0px;
	margin-bottom: 0px;
}

p.info {
	text-align: right;
	margin-top: 5px;
	margin-bottom: 5px;
}



#input_date {
	float: right;
	clear: both;
}

#phone_update {
	font-size: 10px;
}